.planets-component .search-box {
    height: 70px;
    font-size: 30px;
    text-align: center;
  }
  
  .planets-component .search-box + span {
    margin: 10px;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
  
  .loggedin-user {
    padding: 15px;
    font-size: 20px;
  }
  
  .planets-component .planets-container {
    padding: 15px !important;
  }
  
  .planets-component .planets {
    display: inline-block;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 10px;
    margin: 0 5px 5px 0;
    box-sizing: content-box;
  }
  
  .planets-component .planets span {
    display: block;
  }
  
  .note {
    font-size: 16px;
    padding: 15px;
  }
  
  .problem {
    color: red;
  }
  
  .solution {
    color: green;
  }
  